<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="col-xs-1">N°</th>
            <th class="col-xs-1">statut</th>
            <th class="col-xs-3">Société</th>
            <th class="col-xs-2">Date Acceptation</th>
            <th class="col-xs-3">Produits</th>
            <th class="col-xs-1" class="text-center">Prix</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            {% set devis = item.doc %}
            <tr>
                <td><a href="{{ path('devis_visualisation', {'id': devis.id })}}">n°&nbsp;{{ devis.numero }}</a></td>

                <td>
                  {% if devis.isRealise %}
                    <small class="text-success">
                  {% elseif devis.isPlanifie %}
                    <small class="text-info">
                  {% elseif devis.isAPlanifie %}
                    <small class="text-info">
                  {% elseif devis.isAAccepter %}
                    <small class="text-warning">
                  {% elseif devis.isAnnule %}
                    <small class="text-danger">
                  {% endif %}
                    {{ devis.statutLibelle }}
                  </small>
                </td>
                <td><a href="{{ path('devis_societe', {'id': devis.societe.id}) }}">{{ devis.societe.raisonSociale }}</a></td>
                <td>{% if devis.dateAcceptation %}{{ devis.dateAcceptation | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }}{% endif %}
                    {% if devis.dateDebut %} (livraison : {{ devis.dateDebut | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }} ){% endif %}
                </td>
                <td>
                  <a data-toggle="tooltip" title="{% for ligne in devis.lignes %}{{ (devis.libelle) ? devis.libelle~"\n" : "Aucun" }}{% endfor %}" href="{{ path('facturable_pdf', {'document': devis.id ,'key': devis.getSecretKey() })}}">{{ devis.lignes | length}} ligne(s)</a>
                </td>
                <td class="text-right">{{ "%0.2f" | format(devis.montantHT)  }}&nbsp;€</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
