{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}
{% block title %}Contrat n°{{ contrat.numeroArchive }} {{ societe.raisonSociale }}{% endblock title %}
{% block body %}
        <ol class="breadcrumb">
            <li><a href="{{ path('contrat') }}">Contrat</a></li>
            <li><a href="{{ path('contrats_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
            <li>
                {%  if (contrat.isModifiable()) %}
                    <a href="{{ path('contrat_modification',{ 'id' : contrat.id }) }}">&nbsp;Contrat&nbsp;{{ contrat.numeroArchive }}</a>
                {% else %}
                    <a href="{{ path('contrat_annulation',{ 'id' : contrat.id }) }}">&nbsp;Contrat&nbsp;{{ contrat.numeroArchive }}</a>
                {% endif %}
            </li>
        </ol>
        <h1>
            Annulation du contrat {{ contrat.getStatutLibelleLong }}
            <small>n° {{ contrat.numeroArchive }}</small>
        </h1>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(form.dateResiliation) }}
                    {{ form_errors(form.dateResiliation) }}
                    <div class="input-group">
                        {{ form_widget(form.dateResiliation) }}
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(form.commentaireResiliation) }}
                    {{ form_errors(form.commentaireResiliation) }}
                    {{ form_widget(form.commentaireResiliation) }}
                </div>

            </div>
        </div>
        <div class="clearfix">
            <p class="text-warning" style="padding:0; margin-top:10px; font-weight:800;">Tous les passages après la date de résiliation seront annulés</p>
            {% for passage in contrat.passagesAPlanifier %}
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">Prévu le {{ passage.datePrevision | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}</div>
                        <div class="col-xs-3">
                            {% for prestation in passage.prestations %}
                            {% if(prestation.wordToPicto) %}
                                <span class="step size-24" title="{{  prestation.nomToString }}" data-toggle="tooltip">
                                    <i class="mdi-{{prestation.wordToPicto}}" style="cursor: pointer;"></i>
                                </span>
                            {% else %}
                                <span class="label label-xs label-primary">{{ prestation.nomToString }}</span>
                            {%endif%}
                            {% endfor %}
                        </div>
                        <div class="col-xs-9">
                            <i class="mdi mdi-face mdi-lg"></i>
                            {% for technicien in passage.techniciens %}
                                {{ technicien.identite }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {{ form_end(form) }}


{% endblock %}
