<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered" id="attachment-table">
            <thead>
                <tr>
                    <th class="col-xs-2">Date</th>
                    <th class="col-xs-3">Titre</th>
                    <th class="col-xs-4">Société/Lieu</th>
                    <th class="col-xs-3">Document</th>
                    <th class="col-xs-1 text-center" title="Visible technicien"><span class="glyphicon glyphicon-eye-open"></span><br>Tech</th>
                    <th class="col-xs-1 text-center" title="Visible client"><span class="glyphicon glyphicon-eye-open"></span><br>Client</th>
                    <th class="col-xs-1 text-center"></th>
                </tr>
            </thead>

            {% for keyAttachementsGrouped, attachements in attachementsGroupedByDate%}

                {% set keys = attachements|keys%}
                {% set imagesArray = [] %}

                {% for key in keys %}
                    {% if "image" in (attachements[key].ext) and attachements[key].visibleTechnicien %}
                        {% set imagesArray = imagesArray|merge([attachements[key]]) %}
                    {% endif %}
                {% endfor %}

                {% if imagesArray|length >= 1 %}

                    <tr style="color:##333; font-weight:700;">
                        <td>
                            {{ keyAttachementsGrouped| localizeddate("medium", "none", null, null, "dd MMM yyyy")}}
                        </td>

                        <td>
                            <span class="glyphicon glyphicon-picture" style="margin-left:5px;"></span> {{ imagesArray|length}}  {% if (imagesArray|length == 1) %} photo {% else %} photos {% endif %}
                        </td>
                        <td>

                        <td>
                            <a data-toggle="collapse" href="[data-id=groupedByDate{{keyAttachementsGrouped|replace({'-':''})}}]" aria-expanded="false" aria-controls="groupedByDate{{keyAttachementsGrouped|replace({'-':''})}}" style="color: inherit;"> {% if (imagesArray|length == 1) %} Photo {% else %} Photos {% endif %} techniciens <span class="glyphicon glyphicon-menu-down " style="margin-left:5px;"></span>
                            </a>
                        </td>
                    </tr>
                {% endif %}

                {% for attachement in attachements %}
                    {% if attachement.isImage and attachement.visibleTechnicien %}
                        <tr class="collapse imageAttachements" data-id="groupedByDate{{ attachement.updatedAt | localizeddate('medium', 'none', null, null, 'yyyyMMdd') }}">
                    {% else %}
                        <tr>
                    {% endif %}
                            <td>
                                {{ attachement.updatedAt | localizeddate("medium", "none", null, null, "dd MMM yyyy") }}
                            </td>
                            <td>
                                <a href="{{ path('attachement_download', { id: attachement.id })}}">
                        <p style="display:inline-block;"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;{% if attachement.titre %}{{ attachement.titre }}{% else %}{{ attachement.originalName }}{% endif %}</p></a>

                        <a style="margin-left:5px" href="{{ path('attachement_modification', { id: attachement.id} )}}"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                            <td>
                            {% if attachement.societe %}
                                <a href="{{ path('attachements_societe',{ 'id' : attachement.societe.id }) }}">
                                    <strong>Société&nbsp;:&nbsp;</strong><small>{{ attachement.societe.raisonSociale }}</small>
                                </a>
                            {% endif %}
                            {% if attachement.etablissement %}
                                <a href="{{ path('attachements_etablissement',{ 'id' : attachement.etablissement.id }) }}">
                                    <strong>Lieu&nbsp;:&nbsp;</strong><small>{{ attachement.etablissement.adresse.intitule }}</small>
                                </a>
                            {% endif %}
                            {% if attachement.numeroContrat %}
                                <br /><a href="{{ path('recherche', {'q': attachement.numeroContrat   })}}"><strong>Contrat&nbsp;:</strong> <small>n°&nbsp;{{ attachement.numeroContrat }}</strong></small></a>
                            {% endif %}
                            </td>
                            <td>
                                {{ include('attachement/attachementItem.html.twig', {'attachement' : attachement}) }}
                            </td>
                            <td class="text-center">
                                <a href="{{ path('attachement_update_visibility', {'id': attachement.id, 'type': 'technicien' }) }}" title="Changer la visibilité"><span class="glyphicon {% if (attachement.visibleTechnicien) %} glyphicon-check text-success{% else %} glyphicon-unchecked text-danger{% endif %}"></span></a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('attachement_update_visibility', {'id': attachement.id, 'type': 'client' }) }}" title="Changer la visibilité" ><span class="glyphicon {% if (attachement.visibleClient) %} glyphicon-check text-success{% else %} glyphicon-unchecked text-danger{% endif %}"></span></a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('attachement_delete', {'id': attachement.id }) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer ce document?')" class="attachement-remove btn btn-default btn-xs" style="border-radius: 10%; z-index: 10; cursor:pointer;" ><span class="glyphicon glyphicon-remove"></a>
                            </td>
                        </tr>
                {% endfor %}
            {% endfor %}

        </table>

      </div>
  </div>
{% for attachement in attachements if attachement.isImage %}
  <!-- The Modal -->
  <div id="modal-viewer-{{attachement.id }}" class="modalViewer">
    <span class="modalViewerClose">&times;</span>
    <img class="modalViewerContent" id="img" />
  </div>
{% endfor %}

<template id="template-thumbnail">
  <div class="thumbnail thumbnail-overlayed" data-cible="modal-viewer-__attachmentID__" >
    <img src="" alt="thumbnail photo __attachmentID__" class="img-thumbnail vignette"
        style="margin-bottom:0; max-width : 100px; max-height : 100px;"
        data-src="{{ path('attachement_download', { id: '__attachmentID__', noattachment: true })}}"
      />
    <div class="overlay">
    </div>
  </div>
</template>
