{% set _menu_active = 'attachements' %}


{% extends 'base.html.twig' %}

{% block title %}Documents {{ societe.raisonSociale }}{% endblock title %}

{% block body %}


<ol class="breadcrumb">
    <li><a href="{{ path('attachements_last') }}">Documents</a></li>
    <li><a href="{{ path('attachements_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }} </small></a></li>
    {% if(etablissement) %}
        <li><a href="{{ path('attachements_etablissement',{ 'id' : etablissement.id }) }}">&nbsp;{{ etablissement.getNom(false) }}&nbsp;<small>{{etablissement.adresse.intitule }}</small></a></li>
    {% endif %}
</ol>

{{ include('societe/choixForm.html.twig', {'urlTarget': path('societe_visualisation', {'id': '_id_'}), 'autofocus': true })}}
<div class="text-right">
        <a class="btn btn-lg btn-default" data-toggle="modal" data-target="#document-modal-{{actif.id}}" ><span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter document</a>
</div>

{% for flashMessage in app.session.flashBag.get('upload_error') %}
  <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 10px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ flashMessage }}
  </div>
{% endfor %}

{% for flashMessage in app.session.flashBag.get('upload_error_mongo') %}
  <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top: 10px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ flashMessage }}
  </div>
{% endfor %}

<div class="row" style="margin-top: 20px;">
    <div class="col-xs-9">
    {{ include('attachement/attachementAjoutModal.html.twig', {'actif' : actif, 'form' : form, 'url' : urlForm}) }}
    {{ include('attachement/attachementList.html.twig', {'attachements' : attachements}) }}
    </div>
    <div class="col-xs-3">
        {{ include('attachement/menu.html.twig', {'societe' : societe, 'etablissement' : etablissement, 'actif' : actif, 'facets': facets, 'all' : all }) }}
    </div>
</div>
{% endblock %}
