
<ul class="list-group">
	<li class="list-group-item {% if all %}list-group-item-success{% endif %}">
		<a href="{{ path('attachements_societe',{ 'id' : societe.id , 'all': true }) }}">
			<div class="row">
				<div class="col-xs-10">
		      		<strong>Tout les documents&nbsp;</strong>
				</div>
				<div class="col-xs-2 text-right">
					<span class="badge badge-muted">{{ facets['total'] }}</span>
				</div>
		  	</div>
		</a>
	</li>

	<li class="list-group-item {% if not all and actif.id == societe.id %}list-group-item-success{% endif %}">
		<a href="{{ path('attachements_societe',{ 'id' : societe.id }) }}">
			<div class="row">
				<div class="col-xs-10">
		      		<strong>Société&nbsp;<br/>{{ societe.raisonSociale }}</strong>&nbsp;<br/><small>{{societe.adresse.intitule }}</small>
				</div>
				<div class="col-xs-2 text-right">
					{% if (facets[societe.id]) %}<span class="badge badge-muted">{{ facets[societe.id] }}</span>{% endif %}</span>
				</div>
		  	</div>
		</a>
	</li>
    {% for etablissement in societe.etablissements %}
    <li class="list-group-item {% if actif.id == etablissement.id %}list-group-item-success{% endif %}">
		<a href="{{ path('attachements_etablissement',{ 'id' : etablissement.id }) }}">
			<div class="row">
				<div class="col-xs-10">
					<small>{{ etablissement.adresse.intitule }}</small>
				</div>
				<div class="col-xs-2 text-right">
                    {% if (facets[etablissement.id]) %}<span class="badge badge-muted">{{ facets[etablissement.id] }}</span>{% endif %}</span>
				</div>
			</div>
		</a>
	</li>
    {% endfor %}
</ul>
