{% set _menu_active = 'facture' %}
{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock title %}

    {% block body %}
        <ol class="breadcrumb">
            <li><a href="{{ path('facture') }}">Facture</a></li>
        </ol>

        {{ include('societe/choixForm.html.twig', {'urlTarget': path('facture_societe', {'id': '_id_'}), 'autofocus': true }) }}

        {{ include('facture/navIndex.html.twig', { 'active': 'previsionnel' }) }}

        {% if facturesEnAttente | length %}
            <h3>Prévisionnel des factures</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-2">Date</th>
                        <th class="col-xs-2">Document</th>
                        <th class="col-xs-3">Contrat</th>
                        <th class="col-xs-4">Client</th>
                        <th class="col-xs-1 text-right">Montant&nbsp;HT</th>
                        <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
                        <th class="col-xs-1 text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for facture in facturesEnAttente|reverse(true) %}
                        <tr>
                                <td>{{ ((facture.isDevis) ? facture.dateDevis : facture.dateFacturation) | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}</td>
                                <td><a href="{{ path('facturable_public_pdf', {'document': facture.id ,'key': facture.getSecretKey() })}}">
                    					<a data-toggle="tooltip" title="{% for ligne in facture.lignes %}{{ (ligne.libelle) ? ligne.libelle~"\n" : "Aucun" }}{% endfor %}" href="{{ path('facturable_pdf', {'document': facture.id ,'key': facture.getSecretKey() })}}">Voir le brouillon<span class="glyphicon glyphicon-file"></span></a></td>
                                <td>
                                    {% for origine in facture.origines %}
                                      <a data-toggle="tooltip" title="{% for etab in origine.etablissements %}{{ etab }}<br/>{% endfor %}"
                                          href="{{ path('contrat_visualisation', {'id': origine.id })}}">Contrat n° {{ origine.numeroArchive }}</a>
                                    {% endfor %}
                                </td>
                    						<td class="col-xs-1">{{ facture.societe.raisonSociale}}</td>
                                <td class="text-right">{{ "%0.2f" | format(facture.montantHT)  }}&nbsp;€</td>
                                <td class="text-right">{{ "%0.2f" | format(facture.montantTTC)  }}&nbsp;€</td>


                              </td>

                                <td class="text-left">
                                    <a class="btn btn-default btn-xs " href="{{ path('facture_en_attente_facturer', { 'factureId': facture.id })}}">Créer la facture</a>
                                </td>
                            </tr>

                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endblock %}
