{% set _menu_active = 'facture' %}
{% extends 'base.html.twig' %}

{% block title %}Factures {{ societe.raisonSociale }}{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('facture') }}">Facture</a></li>
        <li><a href="{{ path('facture_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
    </ol>

    {{ include('societe/choixForm.html.twig', {'urlTarget': path('facture_societe', {'id': '_id_'})}) }}

    <div class="row">
        {% if societe.methodeDeFacturation %}
        <div class="col-xs-12">
            <div class="alert alert-info">
                <strong>Procédure de facturation : </strong>{{ societe.methodeDeFacturation }}
            </div>
        </div>
        {% endif %}

        {% if etablissements | length > 1 %}
        <form id="form_etablissement_filtre" action="" method="GET">
            <div class="col-xs-12" style="margin-bottom: 30px; {% if not app.request.get('etablissement_id') %}opacity: 0.75;{% endif %}">
                <div class="input-group">
                    <span class="input-group-addon">Filtrer pour un établissement</span>
                    <select onchange="document.querySelector('#form_etablissement_filtre').submit();" name="etablissement_id" class="form-control">
                        <option value="">Tous</option>
                    {% for etablissement in etablissements %}
                        <option {% if app.request.get('etablissement_id') == etablissement.id %}selected="selected"{% endif %} value="{{ etablissement.id }}">{{ etablissement.libelleComplet }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        {% endif %}
        <div class="col-xs-3">
            <h3 style="margin-top: 0;">Solde :
                <strong class="text-{% if (solde == 0) %}success{% elseif (solde < 0) %}danger{% else %}warning{% endif %}">{{ solde | number_format(2, '.', ' ') }} €</strong>
                {% if societe.sepa and societe.sepa.actif %}
                <small data-toggle="tooltip" title="{{ societe.sepa.iban }} <br/> {{ societe.sepa.bic }} <br/> {{ societe.sepa.rum }} <br/> ({{ societe.sepa.date | date("d/m/Y") }}) <br/> {% if societe.sepa.first %}Premier prélèvement{% else %}Prélèvements récurrents{% endif %}">
                    <label class="label label-xs label-primary" style="cursor:pointer;">SEPA</label>
                </small >&nbsp;
                {% endif %}
            </h3>
        </div>
        <div class="col-xs-3">
            <h3 style="margin-top: 0;">Facturé : <strong>{{ totalFacture | number_format(2, '.', ' ') }} €</strong></h3>
        </div>
        <div class="col-xs-3"><h3 style="margin-top: 0;">Payé : <strong>{{ totalPaye | number_format(2, '.', ' ') }} €</strong></h3></div>
        <div class="col-xs-3">
            <a data-toggle="modal" data-target="#exportSocieteForm" class="btn btn-default btn-block"><span class="glyphicon glyphicon-list"></span> Export des factures</a>
        </div>
    </div>
    {% if(facturesPrevisionnel | length > 0) %}
    <h3>Factures en prévision</h3>
    <table class="table table-bordered table-striped text-muted">
        <thead>
            <tr>
                <th class="col-xs-2">Date</th>
                <th class="col-xs-2">Document</th>
                <th class="col-xm-3">Contenu</th>
                <th class="col-xs-1">Écheance</th>
                <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
                <th class="col-xs-1 text-right">Montant&nbsp;payé</th>
                <th class="col-xs-1 text-right">Restant</th>
                <th class="col-xm-1 text-right"></th>
                <th class="col-xm-1 text-center"></th>
            </tr>
        </thead>
        <tbody>
            {% set totalRestant = 0.0 %}
            {% for facture in facturesPrevisionnel %}
                {% set totalRestant = totalRestant + facture.montantAPayer %}
                {{ include('facture/factureLigne.html.twig', {'facture': facture, 'societe' : societe, 'resteTropPaye' : resteTropPaye, 'etablissement_id': etablissement_id}) }}
            {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if(mouvements | length > 0) %}
    <form action="{{ path('facture_societe_generation', { 'id': societe.id })}}" method="GET" class="form-inline">
          <div class="row" style="margin-top: 20px;">
          <div class="col-xs-4"><h3 style="margin-top: 0;">Mouvements à facturer</h3></div>
          <div class="col-xs-8 text-right" style="margin:0 0 10px 0;padding-right: 20px;">
            <span>Date de facturation</span>
            <div class="form-group">
                <div class="input-group">
                    <input data-provide="datepicker" class="form-control datepicker" type="text" value="{{ defaultDate|date("d/m/Y") }}" data-date-format="dd/mm/yyyy" required="required" name="dateFacturation" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn" type="submit">Facturer</button>
          </div>
          </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Document d'origine</th>
                    <th>Intitulé</th>
                    <th class="text-right">Montant HT</th>
                    <th><input type="checkbox" checked="checked" onchange="toggleCheck.call(this, 'afacturer[]')" /></th>
                </tr>
            </thead>
            <tbody>
                {% for mouvement in mouvements %}
                  {% if mouvement.document.id %}
                    <tr>
                        {% if mouvement.identifiant %}
                          <td class="text-center"><a onclick="return confirm('Êtes vous sûr de vouloir supprimer ce mouvement de facture ?')" href="{{ path('facture_defacturer', {'id': mouvement.document.id, 'identifiant': mouvement.identifiant}) }}{% if app.request.get('etablissement_id') %}?etablissement_id={{app.request.get('etablissement_id')}} {% endif %}"><span class="text-danger glyphicon glyphicon-remove"></span></a></td>
                        {% else %}
                          <td></td>
                        {% endif %}
                        <td><a href="{{ path('contrat_visualisation', {'id': mouvement.document.id })}}">Contrat n° {{ mouvement.document.numeroArchive }}</a></td>
                        <td>{{ mouvement.libelle }}</td>
                        <td class="text-right">{{ "%0.2f" | format(mouvement.prixUnitaire)  }} €</td>
                        <td>
                          <input type="checkbox" checked="checked" name="afacturer[]" value="{{ mouvement.identifiant }}" />
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </form>
    {% endif %}

{% if hasDevis %}
    <h3>Devis</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-xs-2">Date</th>
                <th class="col-xs-2">Document</th>
                <th class="col-xm-3">Contenu</th>
                <th class="col-xs-1">Écheance</th>
                <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
                <th class="col-xs-1 text-right">Montant&nbsp;payé</th>
                <th class="col-xs-1 text-right">Restant</th>
                <th class="col-xm-1 text-right"></th>
                <th class="col-xm-1 text-center"></th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
             {% if facture.isDevis %}
              {{ include('facture/factureLigne.html.twig', {'facture': facture, 'societe' : societe, 'resteTropPaye' : resteTropPaye, 'etablissement_id': etablissement_id}) }}
              {% endif %}
            {% endfor %}
        </tbody>
      </table>
{% endif %}


    <h3>Factures en attente de paiement
      <div class="btn-group pull-right">
        <a href="{{ path('facture_creation', { 'societe': societe.id } ) }}{% if app.request.get('etablissement_id') %}?etablissement_id={{app.request.get('etablissement_id')}} {% endif %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Créer une facture</a></div>
    </h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-xs-2">Date</th>
                <th class="col-xs-2">Document</th>
                <th class="col-xm-3">Contenu</th>
                <th class="col-xs-1">Écheance</th>
                <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
                <th class="col-xs-1 text-right">Montant&nbsp;payé</th>
                <th class="col-xs-1 text-right">Restant</th>
                <th class="col-xm-1 text-right"></th>
                <th class="col-xm-1 text-center"></th>
            </tr>
        </thead>
        <tbody>
            {% set totalRestant = 0.0 %}
            {% for facture in factures %}
             {% if not facture.isDevis and not (facture.paye or facture.isAvoir or facture.isRedressee) and facture.numeroFacture %}
                {% set totalRestant = totalRestant + facture.montantAPayer %}
              {{ include('facture/factureLigne.html.twig', {'facture': facture, 'societe' : societe,'resteTropPaye' : resteTropPaye, 'etablissement_id': etablissement_id}) }}
              {% endif %}
            {% endfor %}
        </tbody>
      </table>
  {% if resteTropPaye %}<h4 class="text-right" style="margin-top: 0;">Trop perçu restant à allouer : <strong>{{ resteTropPaye | number_format(2, '.', ' ') }} €</strong></h4>{% endif %}
      <h3>Factures payées</h3>
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th class="col-xs-2">Date</th>
                  <th class="col-xs-2">Document</th>
                  <th class="col-xm-3">Contenu</th>
                  <th class="col-xs-1">Écheance</th>
                  <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
                  <th class="col-xs-1 text-right">Montant&nbsp;payé</th>
                  <th class="col-xs-1 text-right">Trop perçu</th>
                  <th class="col-xm-1 text-right"></th>
                  <th class="col-xm-1 text-center"></th>
              </tr>
          </thead>
          <tbody>
              {% for facture in factures %}
               {% if facture.paye or facture.isAvoir or facture.isRedressee %}
                  {{ include('facture/factureLigne.html.twig', {'facture': facture, 'societe' : societe,'resteTropPaye' : resteTropPaye, 'etablissement_id': etablissement_id }) }}
                {% endif %}
              {% endfor %}
          </tbody>
        </table>

                  <div  id="exportSocieteForm"  class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg" >
                          <div class="modal-content">
                              {{ form_start(exportSocieteForm) }}
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4>Export des factures de
                                {{societe.raisonSociale}}
                                {% if etablissements | length > 1 and app.request.get('etablissement_id')%}
                                    {% for etablissement in etablissements %}
                                        {% if app.request.get('etablissement_id') == etablissement.id %}
                                            <br>({{ etablissement.libelleComplet }})
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </h4>
                              </div>
                                  <div class="modal-body form-horizontal">
                                          <div class="form-group">
                                              {{ form_errors(exportSocieteForm.dateDebut) }}
                                              {{ form_label(exportSocieteForm.dateDebut, "Date début (incluse)", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                                              <div class="col-xs-8">
                                                  {{ form_widget(exportSocieteForm.dateDebut) }}
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              {{ form_errors(exportSocieteForm.dateFin) }}
                                              {{ form_label(exportSocieteForm.dateFin, "Date fin (incluse)", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                                              <div class="col-xs-8">
                                                  {{ form_widget(exportSocieteForm.dateFin) }}
                                              </div>
                                          </div>
                                  </div>
                                  <div class="modal-footer">
                                      <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        </div>
                                             {% if exportSocieteForm.pdf is defined and exportSocieteForm.pdf %}

                                              <div class="col-xs-4 text-right">
                                              {{ form_row(exportSocieteForm.pdf) }}
                                            </div>
                                              <div class="col-xs-2 text-right">
                                                  <button class="btn btn-primary" type="submit">Exporter</button>
                                          </div>
                                          {% else %}
                                          <div class="col-xs-6 text-right">
                                             <button class="btn btn-primary" type="submit">Exporter le CSV</button>
                                          </div>
                                              {% endif %}

                                      </div>
                                  </div>
                                      {{ form_end(exportSocieteForm) }}
                              </div>
                          </div>
                        </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
  function toggleCheck(checkname) {
      const state = this.checked;
      const checkboxes = document.getElementsByName(checkname);
      for (const checkbox of checkboxes) {
          checkbox.checked = state;
      }
  }
</script>
{% endblock %}
