{% set _menu_active = 'facture' %}
{% extends 'base.html.twig' %}

{% block title %}Factures {{ societe.raisonSociale }}{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('facture') }}">Facture</a></li>
        <li><a href="{{ path('facture_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
    </ol>

    {{ include('societe/choixForm.html.twig', {'urlTarget': path('facture_societe', {'id': '_id_'})}) }}

    <h3>Solde du client :
        <span class="text-{% if (solde == 0) %}success{% elseif (solde < 0) %}danger{% else %}warning{% endif %}">{{ "%0.2f" | format(solde) }} €</span>
        {% if societe.sepa and societe.sepa.actif %}
        <small data-toggle="tooltip" title="{{ societe.sepa.iban }} <br/> {{ societe.sepa.bic }} <br/> {{ societe.sepa.rum }} <br/> ({{ societe.sepa.date | date("d/m/Y") }}) <br/> {% if societe.sepa.first %}Premier prélèvement{% else %}Prélèvements récurrents{% endif %}">
            <label class="label label-xs label-primary" style="cursor:pointer;">SEPA</label>
        </small >&nbsp;
        {% endif %}
    </h3>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation"><a href="#facture-previsionnel" aria-controls="facture-previsionnel" role="tab" data-toggle="tab">Prévisionnel des factures</a></li>
            <li role="presentation"><a href="#facture-attente" aria-controls="facture-attente" role="tab" data-toggle="tab">En attente de paiement</a></li>
            <li role="presentation"><a href="#facture-payee" aria-controls="facture-payee" role="tab" data-toggle="tab">Payées</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="facture-previsionnel">
            {{ include('facture/listing/previsionnel.html.twig') }}
        </div>
        <div role="tabpanel" class="tab-pane" id="facture-attente">
            {{ include('facture/listing/attente.html.twig') }}
        </div>
        <div role="tabpanel" class="tab-pane" id="facture-payee">
            {{ include('facture/listing/payee.html.twig') }}
        </div>
    </div>

                  <div class="btn-group pull-right">
                    <a data-toggle="modal" data-target="#exportSocieteForm" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-usd"></span> Export des factures</a>
                  </div>

                  <div  id="exportSocieteForm"  class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg" >
                          <div class="modal-content">
                              {{ form_start(exportSocieteForm) }}
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4>Export des factures de {{societe.raisonSociale}}</h4>
                              </div>
                                  <div class="modal-body form-horizontal">
                                          <div class="form-group">
                                              {{ form_errors(exportSocieteForm.dateDebut) }}
                                              {{ form_label(exportSocieteForm.dateDebut, "Date début (incluse)", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                                              <div class="col-xs-8">
                                                  {{ form_widget(exportSocieteForm.dateDebut) }}
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              {{ form_errors(exportSocieteForm.dateFin) }}
                                              {{ form_label(exportSocieteForm.dateFin, "Date fin (incluse)", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                                              <div class="col-xs-8">
                                                  {{ form_widget(exportSocieteForm.dateFin) }}
                                              </div>
                                          </div>
                                  </div>
                                  <div class="modal-footer">
                                      <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        </div>
                                             {% if exportSocieteForm.pdf is defined and exportSocieteForm.pdf %}

                                              <div class="col-xs-4 text-right">
                                              {{ form_row(exportSocieteForm.pdf) }}
                                            </div>
                                              <div class="col-xs-2 text-right">
                                                  <button class="btn btn-primary" type="submit">Exporter</button>
                                          </div>
                                          {% else %}
                                          <div class="col-xs-6 text-right">
                                             <button class="btn btn-primary" type="submit">Exporter le CSV</button>
                                          </div>
                                              {% endif %}

                                      </div>
                                  </div>
                                      {{ form_end(exportSocieteForm) }}
                              </div>
                          </div>
                        </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
  function toggleCheck(checkname) {
      const state = this.checked;
      const checkboxes = document.getElementsByName(checkname);
      for (const checkbox of checkboxes) {
          checkbox.checked = state;
      }
  }
</script>
{% endblock %}
