<html lang="fr">
    <head>
    <link rel="stylesheet" href="{{ asset('/component/bootstrap/css/bootstrap.min.css') }}" />
    </head>
    <body>
        <div style="margin-top:150px" class="container text-center">
            <img src="{{ asset('/images/logo_'~instanceapp~'.svg') }}" height="100" style="margin-top: 5px;"  class="hidden-sm" />
            <h3 style="margin-top: 45px;" class="text-muted">Facture n° {{ doc.numero }} du {{ doc.dateEmission | date("d/m/Y")}} - {{ doc.montantTTC}} € TTC</h3>
            <a id="btn_loading" style="margin-top: 20px;" class="btn btn-warning btn-lg hidden" href="{{ path('facturable_telechargement_pdf', {'document': doc.id ,'key': doc.getSecretKey()}) }}"></span>Téléchargement en cours ...</a>
            <a style="margin-top: 20px;" id="btn_download" class="btn btn-success btn-lg" href="{{ path('facturable_telechargement_pdf', {'document': doc.id ,'key': doc.getSecretKey()}) }}">Télécharger ce document</a>
        </div>
        <script>
          document.getElementById('btn_loading').classList.remove('hidden');
          document.getElementById('btn_download').classList.add('hidden');
          window.setTimeout(function() {
              document.getElementById('btn_download').click()
          }, 700);
          window.setTimeout(function() {
              document.getElementById('btn_loading').classList.add('hidden');
              document.getElementById('btn_download').classList.remove('hidden');
          }, 5000);
        </script>
    </body>
</html>