<div class="panel panel-default">
<div class="panel-heading">
    <div class="panel-title clearfix">
        <i class="mdi mdi-{{ devis.etablissementInfos.icon }} mdi-lg"></i>
        <strong>{{ devis.etablissementInfos.nom|capitalize }}</strong>
        <small>{{ devis.etablissementInfos.adresse.codePostal }} {{ devis.etablissementInfos.adresse.commune }}</small>
        <div style="float:right">
        <a class="btn btn-primary" href="{{ path('calendar_planifier', {'planifiable': devis.id}) }}">Planifier</a>
        </div>
    </div>
</div>
<div class="panel-body" style="width: 100%;overflow: auto;overflow-x: hidden;height: 400px;">
    {% set dptKeyWord = (devis.etablissementInfos.adresse.codePostal | slice(0, 2)) ? "Département "~devis.etablissementInfos.adresse.codePostal | slice(0, 2) : "" %}
    {% if(devis.techniciens | length == 0) %}
        {% set words = [dptKeyWord, "Sans technicien", devis.etablissementInfos.adresse.codePostal | trim, devis.etablissementInfos.adresse.commune | trim, devis.etablissementInfos.type, devis.datePrevision | localizeddate("medium", "none", null, null, "MMMM yyyy") | capitalize, devis.etablissementInfos.nom] | merge(devis.wordingsArrFacturant) | json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
        {% set techColor = 'white' %}
        {% set techBgColor = 'transparent' %}
        {% set techIdentite = "" %}
    {% else %}
        {% set words = [dptKeyWord, devis.techniciens[0].identite, devis.etablissementInfos.adresse.codePostal | trim, devis.etablissementInfos.adresse.commune | trim, devis.etablissementInfos.type, devis.datePrevision | localizeddate("medium", "none", null, null, "MMMM yyyy") | capitalize, devis.etablissementInfos.nom, devis] | merge(devis.wordingsArrFacturant) | json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
        {% set techColor = devis.techniciens[0].couleurText %}
        {% set techBgColor = devis.techniciens[0].couleur %}
        {% set techIdentite = devis.techniciens[0].identiteCourt %}
    {% endif %}
    {% if devis.etablissement.commentairePlanification %}
    {% endif %}
    <div class="clearfix">
        <span class="label" style="background-color: {{ techBgColor }};color: {{ techColor }};">
            <small>{{ techIdentite }}</small>
        </span>
        <a href="{{ path("calendar_planifier", {'planifiable': devis.id}) }}" class="btn btn-link">
            <i class="mdi mdi-date-range mdi-lg"></i>
            {{ devis.datePrevision | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }}
        </a>
    </div>
    <div class="well">
        <h5>
          <i class="mdi mdi-lg mdi-{{ societe.icon }}"></i> Société :
          <a href="{{path('societe_visualisation', {'id': societe.id})}}">
            {{ societe.raisonsociale }}
          </a>
        </h5>
      <h5>
        Solde : <span class="text-{% if (solde == 0) %}success{% elseif (solde < 0) %}danger{% else %}warning{% endif %}">{{ "%0.2f" | format(solde) }} €</span>
      </h5>
      <h5>
        <i class="mdi mdi-{{ devis.etablissementInfos.icon }} mdi-lg"></i> Lieu de livraison :
        <a href="{{path('ajax_more_infos_devis', {'devis': devis.id})}}">
          {{ etablissement.adresse.getIntitule() }}
        </a>
      </h5>
      <ul class="list-inline">
        {% if etablissement.contactCoordonnee.libelle %}
          <li class="list-inline-item"><i class="mdi mdi-contacts mdi-lg"></i> {{ etablissement.contactCoordonnee.libelle }}</li>
        {% endif %}
        {% if etablissement.contactCoordonnee.telephoneFixe %}
          <li class="list-inline-item"><i class="mdi mdi-call mdi-lg"></i> {{ etablissement.contactCoordonnee.telephoneFixeFormatte }}</li>
        {% endif %}
        {% if etablissement.contactCoordonnee.telephoneMobile %}
          <li class="list-inline-item"><i class="mdi mdi-smartphone mdi-lg"></i> {{ etablissement.contactCoordonnee.telephoneMobileFormatte }}</li>
        {% endif %}
        {% if etablissement.contactCoordonnee.email %}
          <li class="list-inline-item"><i class="mdi mdi-mail mdi-lg"></i>
            <a href="mailto:{{ etablissement.contactCoordonnee.email }}">
              {{ etablissement.contactCoordonnee.email }}
            </a>
          </li>
        {% endif %}
      </ul>
      <br />
      <h5><i class="mdi mdi-lg mdi-shopping-cart" ></i> Liste de produits:</h5>
      {% for produit in devis.lignes %}
          {% if(produit.libelle) %}
            <ul>
                <li> {{ produit.libelle}}</li>
            </ul>
          {% endif %}
      {% endfor %}
      <br />
      <div class="row">
        <div class="col-xs-6 commentaires">
          <h5><i class="mdi mdi-lg mdi-comment" ></i> Commentaire Interne Devis :</h5>
            {% if devis.commentaireInterne %}
                <div title="Commentaire plannification">{{ devis.commentaireInterne | nl2br }}</div>
            {% endif %}
        </div>
      </div>
    </div>
</div>
</div>
