<tr {% if document.pdfNonEnvoye is defined and document.pdfNonEnvoye is same as(false) %}class="success"{% endif %}>
  <td>{{ document.datePrevision | localizeddate('medium', 'none', null, null, 'd MMMM yyyy') }}</td>
  <td class="text-left">
      <a href="{{ path('devis_societe', { 'id': document.societe.id }) }}">{{ document.societe.raisonSociale }}</a>
  </td>
  <td>
    <a style="opacity: 0.15" onclick="navigator.clipboard.writeText(this.href); alert('Le lien a été copié dans le presse papier !'); return false;" title="Lien public pour partage" class="pull-right" href="{{ path('facturable_public_pdf', {'document': document.id ,'key': document.getSecretKey()})}}"><span class="glyphicon glyphicon-link"></span></a>
    <span class="glyphicon glyphicon-file"></span>
    <a href="{{ path('facturable_pdf', {'document': document.id}) }}">
       Devis n° {{ document.numeroDevis }}
    </a>
  </td>
  <td>
    <a href="{{ path('facturable_pdf', {'document': document.id }) }}" data-toggle="tooltip"
      title="{% for ligne in document.lignes %}{{ (ligne.libelle) ?:"Aucun" }}{% endfor %}">
        {{ document.lignes | length }} ligne(s)
    </a>
  </td>
  <td class="text-right">{{ "%0.2f" | format(document.montantTTC)  }} €</td>
  <td class="text-center">
      {% if document.rendezVous %}<span class="glyphicon glyphicon-ok text-muted"></span>{% endif %}
  </td>
  <td>
    <a href="{{ path('devis_modification', {'id': document.id}) }}">Modifier</a>
  </td>
</tr>
