<tr {% if document.pdfNonEnvoye is defined and document.pdfNonEnvoye is same as(false) %}class="success"{% endif %}>
  <td>{{ document.datePrevision | localizeddate('medium', 'none', null, null, 'd MMMM yyyy') }}</td>
<td class="text-center">
{% if devis.rendezVous %}<span class="glyphicon glyphicon-ok text-muted"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
  </td>
  <td>
    <span class="glyphicon glyphicon-file"></span>
    <a href="{{ path('facturable_pdf', {'document': document.id, 'key': document.getSecretKey()}) }}">
       Devis n° {{ document.numeroDevis }}
    </a>
  </td>
  <td>
    <a href="{{ path('facturable_pdf', {'document': document.id, 'key': document.getSecretKey()}) }}" data-toggle="tooltip"
      title="{% for ligne in document.lignes %}{{ (ligne.libelle) ?:"Aucun" }}{% endfor %}">
        {{ document.lignes | length }} ligne(s)
    </a>
  </td>
  <td class="text-right">{{ "%0.2f" | format(document.montantTTC)  }} €</td>
  <td>
    <a href="{{ path('devis_modification', {'id': document.id}) }}">Modifier</a>
  </td>
</tr>
