{% if paiementsDocs|length > 0 %}
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th class="col-xs-2">Date</th>
    <th class="col-xs-2">Type</th>
    <th class="col-xs-3">Libelle</th>
    <th class="col-xs-2">Facture</th>
    <th class="col-xs-1 text-center">Montant</th>
    <th class="col-xs-2 text-center">Actions</th>
  </tr>
  </thead>

  <tbody>
  {% for paiements in paiementsDocs %}
    {% for regKey, reglement in paiements.aggregatePaiements %}
      {% if loop.first %}
          <tr class="active">
              <th>
                  {{ paiements.dateCreation | localizeddate("medium", "none", null, null, "d MMM yyyy") }}
                  {% if not (paiements.isImprime) and regKey == "CHEQUE"%}
                      <span class="glyphicon glyphicon-pushpin pull-right"></span>
                  {% endif %}
              </th>
              <th class="clearfix">{{ paiements.aggregatePaiements | aggregateTypePaiements }} <span class="badge pull-right" style="background: #F3BFCC; color: #000">{{ paiements.aggregatePaiements | sommeFactures }}</span></th>
              <th colspan="3" class="text-right">Total : {{ paiements.aggregatePaiements | sommePaiements | number_format(2, ',', ' ') }} €</th>
              <th class="text-right">
                  {% if (paiements.isImprime) and regKey == "CHEQUE" %}
                      <a class="btn btn-xs btn-default" href="{{ path('paiements_export_banque', {'id': paiements.id }) }}" title="{% if(paiements.isRemiseEspece) %}Espèce{% else %}{{ paiements.nbPaiementUniqueParMoyen }} chèq.{% endif %}">
                          <span class="glyphicon glyphicon-print"></span>
                      </a>
                  {% endif %}
                  <a class="btn btn-xs btn-warning" href="{{ path('paiements_modification', {'id': paiements.id })}}">
                      <span class="glyphicon glyphicon-pencil"></span>
                  </a>
              </th>
          </tr>
      {% endif %}
      {% for libKey, libelle in reglement.items %}
          {% for paiement in libelle.items %}
          <tr>
            <td>
                <span class="text-muted">{{ paiements.dateCreation | localizeddate("medium", "none", null, null, "d MMM yyyy") }}</span>
            </td>
            <td>
              <span class="text-muted">{{ reglement.libelle }}</span>
            </td>
            <td>{{ libelle.libelle }}</td>
            <td><a href="{{ path('facturable_pdf', {'document': paiement.facture.id , 'key': paiement.facture.getSecretKey()})}}">Facture n° {{ paiement.facture.numeroFacture }}</a></td>
            <td class="text-right">{{ paiement.montant | number_format(2, ',', ' ') }}&nbsp;€</td>
            <td class="text-right"></td>
          </tr>
          {% endfor %}
      {% endfor %}
      <tr style="background-color: #fff"><td colspan="7"></td></tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>
{% endif %}
