{% if paiementsDocs|length > 0 %}
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th class="col-xs-1">Date</th>
    <th class="col-xs-3">Type</th>
    <th class="col-xs-2"></th>
    <th class="col-xs-1">Montant total</th>
    <th class="col-xs-1 text-center">Détail</th>
    <th class="col-xs-1 text-center">Actions</th>
  </tr>
  </thead>

{% for paiements in paiementsDocs %}
{% for regKey, reglement in paiements.aggregatePaiements %}
  <tr>
    <td>{{ paiements.dateCreation | localizeddate("medium", "none", null, null, "d MMM yyyy") }}</td>
    <td>{{ reglement.libelle }} ({{ reglement.items | length }})</td>
  <td>{{ reglement.factures }} facture{% if reglement.factures > 1 %}s{% endif %}
    {% if paiements.prelevement %}
    <span class="pull-right label {% if not paiements.isAllSaisis() %}label-warning{% else %}label-default{% endif %}">
          {% if not paiements.isAllSaisis() %}<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;{% endif %}
          {{ paiements.getNbPaiementsSaisis() }}/{{ paiements.paiement | length }} facture{% if paiements.paiement | length > 1 %}s{% endif %} saisie{% if paiements.paiement | length > 1 %}s{% endif %}
    </span>
      {% endif %}
    </td>
    <td class="text-right">{{ reglement.montant | number_format(2, ',', ' ') }}&nbsp;€</td>
    <td class="text-center"><a href="{{ path('paiements_details',{ 'id': paiements.id ,'type' : regKey}) }}"><i class ="mdi mdi-remove-red-eye mdi-lg"></i></a></td>
    <td class="text-right">
    {% if (paiements.isImprime) and regKey == "CHEQUE" %}
        <a class="btn btn-xs btn-default" href="{{ path('paiements_export_banque', {'id': paiements.id }) }}">
            <span class="glyphicon glyphicon-print"></span>&nbsp;{% if(paiements.isRemiseEspece) %}Espèce{% else %}{{ paiements.nbPaiementUniqueParMoyen }} chèq.{% endif %}
        </a>
    {% endif %}
    <a class="btn btn-xs btn-warning btn" href="{{ path('paiements_modification', {'id': paiements.id })}}"><span class="glyphicon glyphicon-pencil"></span></a>



    </td>
  </tr>
{% endfor %}
{% endfor %}
</table>
{% endif %}
