{% set _menu_active = 'paiements' %}
{% extends 'base.html.twig' %}
{% block title %}Liste des paiements de {{ societe.raisonSociale }}{% endblock title %}

{% block body %}
<ol class="breadcrumb">
    <li><a href="{{ path('paiements_liste') }}">Paiements</a></li>
    <li><a href="{{ path('paiements_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
</ol>

<div id="wrapper">
    <h2>Paiements de {{ societe.raisonSociale }}</h2>
    {% if paiementsDocs|length > 0 %}
      {% for paiements in paiementsDocs %}
      <table class="table table-bordered table-striped ">
        <br>
        <div style="border :3px solid #ddd">
          <h4><strong> {{ paiements.dateCreation | localizeddate("medium", "none", null, null, "d MMM yyyy") }}</strong>- Règlement de {{ paiements.paiementBySociete(societe) | length }} facture{% if paiements.paiementBySociete(societe)| length > 1 %}s{% endif %}
          <strong class="pull-right">Total = {{ paiements.getTotalBySociete(societe) | number_format(2, ',', ' ') }}&nbsp;€</strong></h4>
        </div>
        <thead>
            <tr>
            <th class="col-xs-3">Type</th>
            <th class="col-xs-3">Libelle</th>
            <th class="col-xs-3">Facture</th>
            <th class="col-xs-1">Montant</th>
            </tr>
        </thead>
        <tbody>
          {% for regKey, reglement in paiements.aggregatePaiements(societe) %}
            {% for libKey, libelle in reglement.items %}
                {% for paiement in libelle.items %}
                <tr>
                  <td>{{ reglement.libelle }}</td>
                  <td>{{ libelle.libelle }}</td>
                  <td>Facture n°<a href="{{ path('facturable_pdf', {'document': paiement.facture.id , 'key': paiement.facture.getSecretKey()})}}">{{ paiement.facture.numeroFacture }}</a></td>
                  <td class="text-right">{{ paiement.montant | number_format(2, ',', ' ') }}&nbsp;€</td>
                </tr>
            {% endfor %}
          {% endfor %}
          {% endfor %}
        </tbody>

       </table>
      {% endfor %}
		{% endif %}
</div>
{% endblock %}
