{% set _menu_active = 'paiements' %}
{% extends 'base.html.twig' %}
{% block title %}Liste des paiements de {{ societe.raisonSociale }}{% endblock title %}

{% block body %}
<ol class="breadcrumb">
    <li><a href="{{ path('paiements_liste') }}">Paiements</a></li>
    <li><a href="{{ path('paiements_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
</ol>

<div id="wrapper">
    <h2>Paiements de {{ societe.raisonSociale }}</h2>
    {% if paiementsDocs|length > 0 %}
      <table class="table table-bordered table-striped ">
        <br>
        <thead>
            <tr>
            <th class="col-xs-2">Date</th>
            <th class="col-xs-2">Type</th>
            <th class="col-xs-3">Libelle</th>
            <th class="col-xs-2">Facture</th>
            <th class="col-xs-2">Total</th>
            </tr>
        </thead>
        <tbody>
          {% for paiements in paiementsDocs %}
          <tr style="background-color:#dbdbdb;">
              <td colspan="4">
                  <strong>{{ paiements.dateCreation | localizeddate("medium", "none", null, null, "d MMM yyyy") }}</strong>
              </td>
              <td class="text-right"><strong>{{ paiements.getTotalBySociete(societe) | number_format(2, ',', ' ') }}&nbsp;€</strong></td>
          </tr>

          {% set date = null %}
          {% for regKey, reglement in paiements.aggregatePaiements(societe) %}
            {% for libKey, libelle in reglement.items %}
            <tr style="background-color: #eee;">
                <td colspan="2"></td>
                <td colspan="2" class="text-muted"><strong>{{ libelle.libelle }}</strong></td>
                <td class="text-right text-muted"><strong>{{ paiements.getTotalByLibelle(libelle.libelle) | number_format(2, ',', ' ') }}&nbsp;€</strong></td>
            </tr>
                {% for paiement in libelle.items %}
                <tr>
                  <td>
                      <span class="text-muted">{{ paiements.dateCreation | localizeddate("medium", "none", null, null, "d MMM yyyy") }}</span>
                  </td>
                  <td>{{ reglement.libelle }}</td>
                  <td>{{ libelle.libelle }}</td>
                  <td>
                    <a href="{{ path('facturable_pdf', {'document': paiement.facture.id , 'key': paiement.facture.getSecretKey()})}}">Facture n° {{ paiement.facture.numeroFacture }}</a>
                    {% if paiement.datePaiement > date()%}
                        <span class="pull-right glyphicon glyphicon-time" title="Sera prélevée le {{ paiement.datePaiement | localizeddate("medium", "none", null, null, "d MMM yyyy") }}"></span>
                    {% endif %}
                  </td>
                  <td class="text-right"><a class="pull-left" href="{{ path('paiements_modification', {'id': reglement.id }) }}#{{ paiement.facture.id }}"><span class="glyphicon glyphicon-pencil"></span></a> {{ paiement.montant | number_format(2, ',', ' ') }}&nbsp;€</td>
                  {% set  date = paiements.dateCreation %}
                </tr>
            {% endfor %}
          {% endfor %}
          {% endfor %}
          {% endfor %}
        </tbody>

       </table>

		{% endif %}
</div>
{% endblock %}
