{% set _menu_active = 'paiements' %}
{% extends 'base.html.twig' %}
{% block title %}Liste des paiements de {{ societe.raisonSociale }}{% endblock title %}

{% block body %}
<ol class="breadcrumb">
    <li><a href="{{ path('paiements_liste') }}">Paiements</a></li>
    <li><a href="{{ path('paiements_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
</ol>

<div id="wrapper">
    <h2>Paiements de {{ societe.raisonSociale }}</h2>
    {% if paiementsDocs|length > 0 %}
      <table class="table table-bordered table-striped ">
        <br>
        <thead>
            <tr>
            <th class="col-xs-2">Date</th>
            <th class="col-xs-2">Type</th>
            <th class="col-xs-3">Libelle</th>
            <th class="col-xs-3">Facture</th>
            <th class="col-xs-1">Montant</th>
            <th class="col-xs-2">Total</th>
            </tr>
        </thead>
        <tbody>
          {% for paiements in paiementsDocs %}
          {% set date = null %}
          {% for regKey, reglement in paiements.aggregatePaiements(societe) %}
            {% for libKey, libelle in reglement.items %}
                {% for paiement in libelle.items %}
                <tr>
                  <td>
                    {% if paiements.dateCreation != date %}
                      <strong>{{ paiements.dateCreation | localizeddate("medium", "none", null, null, "d MMM yyyy") }}</strong>
                    {% endif %}
                  </td>
                  <td>{{ reglement.libelle }}</td>
                  <td>{{ libelle.libelle }}</td>
                  <td><a href="{{ path('facturable_pdf', {'document': paiement.facture.id , 'key': paiement.facture.getSecretKey()})}}">Facture n° {{ paiement.facture.numeroFacture }}</a></td>
                  <td class="text-right">{{ paiement.montant | number_format(2, ',', ' ') }}&nbsp;€</td>
                  <td class="text-right">
                  {% if paiements.dateCreation != date %}
                    <strong>{{ paiements.getTotalBySociete(societe) | number_format(2, ',', ' ') }}&nbsp;€</strong>
                  {% endif %}

                  </td>
                  {% set  date = paiements.dateCreation %}
                </tr>
            {% endfor %}
          {% endfor %}
          {% endfor %}
          {% endfor %}
        </tbody>

       </table>

		{% endif %}
</div>
{% endblock %}
